<%= content_for(:title) do %>
  Flood risk activity exemption - update
<% end %>

<%= content_for(:heading) do %>
  You can’t register your flood risk activity exemption because it’s in an environmentally sensitive area
<% end %>

<p class="panel">
  Your reference is: <%= @presenter.reference_number %>
</p>
<p>
  You must not do any work on the proposed activity.
</p>

<h2 class="border-top">The reason why we rejected the application</h2>
<p>
  You cannot register the work or activity as an exemption because it is in or near an environmentally sensitive area.
</p>

<h2 class="border-top">What you can do</h2>
<p>
  If you are able to do the activity at a different place you might be able to register an exemption. Contact us to check a new location.
</p>
<p>
  If you want to do the work at this location, you will have to <a href="https://www.gov.uk/guidance/flood-risk-activities-environmental-permits">apply for a permit</a>.
</p>
<p>
  You can’t appeal decisions about location.
</p>

<h2 class="border-top">
  Contact the Environment Agency
</h2>
<p>
  <a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a>
  <br /> Telephone: <a href="tel:03708506506">03708 506 506</a>
  <br /> Minicom: <a href="tel:03702422549">03702 422 549</a>
  <br /> Monday to Friday, 8am to 6pm
</p>
