---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"jae@example.com","template_id":"c814587b-1368-4f64-a9b9-da101f9a078b","personalisation":{"registration_number":"EXFRA001003","exemption_description":"Awesome
        Linen Pants FRA_RSPEC_192.","grid_reference":"OQ 00118 00118","assets":"no","salmonid":"no","decision_date":"15
        November 2021 23:44","organisation_name_and_address":"Greenfelder, Kunde and
        Stanton\n7681, 8417 Kenneth Island\nSouth\nJavierview\nBS1 5AH","contact_name_and_position":"Vincenzo
        Graham, advocate","contact_phone":"0500 156528","contact_email":"hannah.von@example.org"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 66cc2522-dfa2-48ce-7535-888fc3082570
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#We\u2019ve registered your flood risk activity
        exemption\r\n---\r\n\r\n^Your reference is EXFRA001003\r\n\r\n\r\nExemption
        registered\r\n---\r\nAwesome Linen Pants FRA_RSPEC_192.\r\nat grid reference
        OQ 00118 00118.\r\n---\r\n#Before you start work\r\n\r\n# Check you can meet
        the exemption conditions\r\n\r\nYou should re-check you can meet the description
        and conditions of your exemption in the flood risk exemptions guidance:\r\nhttps://www.gov.u[...]
