<% if flash[:notice].present? %>
  <div class="govuk-notification-banner govuk-notification-banner--success" role="region" aria-labelledby="govuk-notification-banner-heading" data-module="govuk-notification-banner">
     <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading" id="govuk-notification-banner-heading">
        <%= flash[:notice] %>
      </h3>
    </div>
  </div>

<% else %>
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-heading" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__content">
      <h3 class="govuk-notification-banner__heading" id="govuk-notification-banner-heading">
        <%= flash.keys.map { |k| flash[k] }.join(" ") %>
      </h3>
    </div>
  </div>
<% end %>
