<li class="pagination__item">
  <%= link_to_unless current_page.last?, raw(t("views.pagination.last")),
                                         url,
                                         {
                                           remote: remote,
                                           class: "pagination__link",
                                           "aria-label": "Last page"
                                          } %>
</li>
