<% if page.current? %>
  <li class="active pagination__item">
    <%= content_tag :a,
                    page,
                    {
                      remote: remote,
                      rel: (page.next? ? "next" : (page.prev? ? "prev" : nil)),
                      class: "pagination__link current",
                      "aria-current": "true",
                      "aria-label": "Page #{page}, current page"
                    } %>
  </li>
<% else %>
  <li class="pagination__item">
    <%= link_to page,
                url,
                {
                  remote: remote,
                  rel: (page.next? ? "next" : (page.prev? ? "prev" : nil)),
                  class: "pagination__link",
                  "aria-label": "Page #{page}"
                } %>
  </li>
<% end %>
