@import 'govuk-elements';

.form-group {
  float: none;
}

.error-summary > h1 {
  color: inherit;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

.text, .panel {
  max-width: 30em;
}

.flood_risk_engine {
  input[type="email"] {
    width: 30em;
  }
  div.form-group.error > label {
    color: inherit;
  }
}
