.enrollment-exemptions-table {
  th {
    &.actions {
      width: 30px;
    }

    &.reference_number {
      width: 100px;
    }

    &.state {
      width: 100px;
    }

    &.code {
      width: 60px;
    }

    &.submitted-at {
      width: 160px;
    }

  }

  td {
    vertical-align: middle;

    &:last-child {
      text-align: right;
    }
  }

}

.users {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.users td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ee-show-main-table {
  width: 100%;
  table-layout: fixed;
}

.ee-show-main-table-header-td {
  width: 30%;
}
