<%= render "/shared/email_header" %>

<p>We received a password reset request for your account. Click the link to change your password now.</p>

<p>
  <%= link_to 'Change your password',
              edit_user_password_url(reset_password_token: @token) %>
</p>

<p>
  Your password won't change until you follow the link and create a new one.
  You can only use this link once.
</p>

<%= render "/shared/email_footer" %>
