<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-title"><%= glyphicon_tag :user, text: t('.title') %></div>
      <div class="panel-body">
        <%=
          contact = enrollment_exemption.correspondence_contact
          render("shared/contact_details", contact: contact) if contact.present?
        %>
      </div>
    </div>
  </div>
</div>
