<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-title">
        <div class="row">
          <div class="col-xs-11">
            <%= glyphicon_tag :list_alt, text: t('.title') %>
          </div>
        </div>
      </div>
      <div class="panel-body" id="exemption-details">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr><%= raw t('.table_headings').map { |th| content_tag(:th, th) }.join %></tr>
            </thead>
            <tbody>
              <tr>
                <td><%= enrollment_exemption.code %></td>
                <td><%= enrollment_exemption.summary %></td>
                <td><%#= ee.expires_at || t(".not_applicable") %></td>
                <td><%#= ee.status_tag %></td>
                <td>
                  <%# if policy(ee).deregister? %>
                    <%#= link_to(t(:deregister), edit_deregister_admin_enrollment_exemption_path(ee),
                                class: 'btn btn-danger btn-sm') if ee.active? %>
                  <%# end %>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
