<div role="tabpanel" class="tab-pane" id="business-type">
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <%= render "admin/enrollment_exemptions/show/organisation_types/#{organisation_type}",
                     enrollment_exemption: enrollment_exemption %>
        </tbody>
      </table>
    </div>
  </div>
